{{ $pages := .ByDate.Reverse }}
{{ if $pages }}
  <ul class="episode-list">
    {{ range $pages }}
      <li>
        <div>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .GetTerms "show" }}
            <div class="episode-meta">
              Show:
              {{ range $index, $term := . }}{{ if $index }}, {{ end }}<a href="{{ $term.RelPermalink }}">{{ $term.LinkTitle }}</a>{{ end }}
            </div>
          {{ end }}
        </div>
        {{ with .Date }}<time class="episode-date" datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time>{{ end }}
      </li>
    {{ end }}
  </ul>
{{ else }}
  <p class="meta">No episodes found.</p>
{{ end }}
