{{ $pages := (index . "pages").ByDate.Reverse }}
{{ $showMeta := index . "showMeta" }}
{{ $linkClass := index . "linkClass" | default "" }}
{{ if $pages }}
  <ul class="episode-list">
    {{ range $pages }}
      <li>
        <div>
          <a{{ with $linkClass }} class="{{ . }}"{{ end }} href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ if $showMeta }}
            {{ with .GetTerms "show" }}
              <div class="episode-meta">
                Show:
                {{ range $index, $term := . }}{{ if $index }}, {{ end }}<a href="{{ $term.RelPermalink }}">{{ $term.LinkTitle }}</a>{{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>
        {{ partial "episode-publication-date.html" . }}
      </li>
    {{ end }}
  </ul>
{{ else }}
  <p class="meta">No episodes found.</p>
{{ end }}
