{{- $type := .Kind | title -}}
{{- if .IsHome -}}
  {{- $type = "Home" -}}
{{- else if and (eq .Kind "page") (eq .Section "episodes") -}}
  {{- $type = "Episode" -}}
{{- else if and (eq .Kind "page") (eq .Section "wiki") -}}
  {{- with .Params.type -}}
    {{- if eq (lower .) "source" -}}
      {{- $type = "Source Note" -}}
    {{- else -}}
      {{- $type = . | title -}}
    {{- end -}}
  {{- else -}}
    {{- $type = "Wiki" -}}
  {{- end -}}
{{- else if .Params.type -}}
  {{- $type = .Params.type | title -}}
{{- else if eq .Kind "term" -}}
  {{- if eq .Data.Singular "show" -}}
    {{- $type = "Show" -}}
  {{- else if eq .Data.Singular "tag" -}}
    {{- $type = "Tag" -}}
  {{- else if eq .Data.Singular "category" -}}
    {{- $type = "Category" -}}
  {{- else -}}
    {{- $type = "Term" -}}
  {{- end -}}
{{- else if eq .Kind "taxonomy" -}}
  {{- $type = "Taxonomy" -}}
{{- end -}}
{{- return $type -}}
